@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	font-family: "Roboto", sans-serif;
	background-color: #f0e8f2;
	color: #333;
	text-align: center;
	padding: 20px;
}

.container {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	margin: auto;
}

h1 {
	font-weight: 700;
	font-size: 2.5em;
	opacity: 0;
	animation: fadeIn 1.5s ease-out forwards;
}

.birthday-cake {
	max-width: 100%;
	height: auto;
	opacity: 0;
	animation: slideIn 2s ease-out forwards;
	animation-delay: 0.5s;
}

@media only screen and (max-width: 600px) {
	body {
		padding: 10px;
	}

	.container {
		padding: 15px;
	}

	h1 {
		font-size: 2em;
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		transform: translateY(-100px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
